html {
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    margin: 30px;
}

h1 {
    padding-bottom: 10px;
    font-size: 38px;
    border-bottom: solid black 2px;
    text-align: center;
}

img {
    width: 400px;
    float: left;
}

h5 {
    text-align: right;
}

h1, h2 {
    letter-spacing: 6px;
    word-spacing: 5px;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68,68);
    font-style: normal;
    text-transform: capitalize;
}

.countries-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(40, 51, 51, 0.329);
    border: 1px rgba(7, 44, 100, 0.774);
    float: left;
    border-spacing: 30px;
}

.countries-table thead tr {
    background-color: rgba(148, 196, 212, 0.808);
    color: rgba(7, 44, 100, 0.774);
    text-align: center;
}

.countries-table th, td {
    padding: 12px;
}

.countries-table tbody tr:nth-of-type(even) {
    background-color: #edf5f5;
}

.countries-table tbody tr:hover {
    background: #a4c2c2;
}

.countries-table tbody tr:last-of-type {
    border-bottom: 4px solid  rgba(40, 51, 51, 0.329);
}

th[scope="col"] {
    background-color: rgb(61, 80, 87);
    color: #fff;
}

.sum-table {
    background-color: rgba(148, 196, 212, 0.808);
    padding-block: 12px;
    color: rgba(7, 44, 100, 0.774);
    font-size: 18px;
}

#active-case-row {
    border-collapse: collapse;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-bottom: 4px solid  rgba(40, 51, 51, 0.329);
}

#active-case-div {
    float: left;
    padding-top: 112px;
    padding-left: 40px;
    min-height: 200px;
}

#statistics-by-country {
    float: left;
    width: 500px;
}

#total-active-cases-by-country {
    float: left;
}

#active-case-table {
    box-shadow: 0 0 20px rgba(40, 51, 51, 0.329);
    border-spacing: 0;
}